name: build

on:
  push:
    branches: [master]
    paths-ignore:
      - '**/*.md'
      - 'docs/**'
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET Core SDK
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: |
            8.0.x
            9.0.x
            10.0.x

      - name: Restore dependencies
        run: dotnet restore

      - name: Build
        run: dotnet build -c Release --no-restore

      - name: Unit Tests
        run: dotnet test test/Falco.Tests -c Release --no-build

      - name: Integration Tests
        run: dotnet test test/Falco.IntegrationTests -c Release --no-build
